<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Procurar Carros </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
    [formGroup]="searchFG"
    #searchFGD="ngForm"
    (ngSubmit)="search(searchFG.value)"
  >
    <ion-item>
      <ion-input
        formControlName="marca"
        placeholder="Enter the marca"
        required
      ></ion-input>
      <ion-button type="submit" color="primary" [disabled]="!searchFG.valid">
        Find
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
  <ion-accordion-group>
    <ion-accordion *ngFor="let carro of carrosList">
      <ion-item slot="header" color="dark">
        <ion-label>{{carro.marca}} {{carro.modelo}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-avatar slot="start">
          <img src="/assets/image/avatar1.png" alt="" />
        </ion-avatar>
        <ion-label (click)="editCarro(carro.id)">{{carro.marca}}</ion-label>
        
        <ion-item>
          <ion-label>{{carro.modelo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{carro.ano}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{carro.categoria}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
